*,
*::before *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: text-top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    color: black;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-family: Inter;
}

.font_inter {
    font-family: Inter;
    font-size: 18px;
    color: black;
    font-weight: 400;
    text-decoration: none
}

.font_play {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
}

.font_roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.font_voces {
    font-family: Voces;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

#image_ellipse {
    background: #324EE0;
    filter: blur(500px);
    border-radius: 200px 200px;
    position: absolute;
    left: 65%;
    top: 253px;
    width: 30%;
    height: 60%;
    z-index: 30;
    /* background-size: cover; */
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/* ________________ШАПКА__________________________ */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    flex-direction: row;
    min-height: 71px;
    align-items: center;
    margin-top: 28px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 1 1 auto;
    z-index: 2;
}

.header__logo>h1 {
    font-family: Play;
    font-weight: 700;
    font-size: 36px;
    color: inherit;
    position: relative;
    top: -19.45px;
    margin-left: 25.34px;
    Line-height: 117%;
}

.header__logo>h3 {
    font-weight: 100;
    font-size: 8px;
    position: relative;
    top: -23px;
    left: 35.28px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 0 9.22vw;
}

@media (max-width: 991px) {
    .header__menu {
        margin: 0 0 0 6.25vw;
        flex: 1 0 auto;
    }
}


/* @media(max-width: 767px) {
    .header__menu {
        margin: 0 0 0 3.65vw;
    }
    .contact__list {
        margin: 0 0 0 0;
    }
} */

.menu {}

.menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(max-width: 479px) {
    .menu__list {
        display: none;
    }
}

.menu__item {
    font-size: 18px;
}

.menu__link:hover {
    color: #1934C1;
}

@media (max-width: 549px) {
    .menu__item {
        font-size: 22px;
    }
}

.menu__item:not(:last-child) {
    margin: 0 45px 0 0;
}

.menu__link {
    color: black;
    line-height: 121%;
}

.contact__list {
    margin: 0 0 0 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 1550px) {
    .contact__list {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 991px) {
    .contact__list {
        margin: 0 0 0 10px;
    }
}

@media (max-width: 768px) {
    .contact__list {
        margin: 0;
    }
}

@media(max-width: 479px) {
    .displayNone {
        display: none;
    }
}

.contact__item {
    margin: 0 30px 0 0;
}

@media(max-width: 479px) {
    .contact__item {
        margin: 0;
    }
}

.contact__link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(max-width: 479px) {
    .social_list {
        display: none;
    }
}

.social_link {}

.social_item:not(:last-child) {
    margin: 0 15px 0 0;
}

.social_item {}


/* ___________________ГАМБУРГЕР________________ */


/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
}

.hamburger-menu {
    display: none;
    width: 30px;
}

@media(max-width: 479px) {
    .hamburger-menu {
        display: block;
    }
}


/* стилизуем кнопку */

.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: -13px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}


/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}


/* элементы меню */

.menu__itemH {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.menu__itemH:hover {
    background-color: #CFD8DC;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__itemH {
    transition-duration: .25s;
}


/* __________________________________________ */

#about_the_project {
    display: flex;
    flex-direction: column;
    max-width: 1427px;
    margin: 239px auto;
}


/* _____MAIN-PAGE________________ */

.page {
    flex: 1 1 auto;
}

.page__mainBlock {}

.page__benefitBlock {}

.page__aboutTheProject {}

.page__tools {}

.page__posts {}

.page__team {}

.page__blog {}

.page__form {}


/* _____MAIN________________ */

.main-block {
    position: relative;
}

.main-block__container {}

.main-block__body {
    padding: 174px 0 132.8px 181px;
    position: relative;
    z-index: 2;
    max-width: 836px;
}

@media(max-width: 991px) {
    .main-block__body {
        padding: 174px 75px 132.8px 100px;
    }
}

@media(max-width: 767px) {
    .main-block__body {
        padding: 174px 10px 132.8px 10px;
    }
}

.main-block__title {
    font-size: 64px;
    font-family: Play;
    font-weight: 700;
    line-height: 130%;
}

@media(max-width: 767px) {
    .main-block__title {
        font-size: 55px;
    }
}

@media(max-width: 479px) {
    .main-block__title {
        font-size: 28px;
    }
}

.main-block__title p {
    margin: 0;
}

.main-block__title p:last-child {
    color: #1934C1;
}

.main-block__text {
    font-size: 24px;
    line-height: 160%;
    margin: 40px 0 33px 0;
}

@media(max-width: 479px) {
    .main-block__text {
        font-size: 14px;
        margin: 15px 0 0px 0;
    }
}

.main-block__buttons {
    margin: 33px 0 0 0;
}

@media(max-width: 479px) {
    .main-block__buttons {
        margin: 15px auto 0 auto;
    }
}

.button {
    background-color: #1934C1;
    width: 183px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px;
}

.button:hover {
    background-color: #2E35E1;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.main-block__button {
    font-family: Roboto;
    font-size: 20px;
    line-height: 117%;
    color: #FFFFFF;
}

@media(max-width: 479px) {
    .main-block__button {
        font-size: 18px;
    }
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ellipse {
    position: absolute;
    width: 642px;
    height: 547px;
    left: 1411px;
    top: 243px;
    background-color: #324EE0;
    filter: blur(500px);
}

@media(max-width: 991px) {
    .ellipse {
        left: 902px;
        top: 243px;
    }
}

@media(max-width: 479px) {
    .ellipse {
        left: 602px;
        top: 43px;
    }
}

#canvas {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}


/* _____BENEFIT________________ */

.benefit {}

.benefit-block__container {}

.benefit__body {
    display: flex;
    /* margin: 0 -87.5px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:479px) {
    .benefit__body {
        flex-direction: column;
        justify-content: space-between;
    }
}

.benefit__column {
    max-width: 300px;
    padding: 0px 32.5px;
    flex: 0 1 25%;
}

@media (max-width:479px) {
    .benefit__column {
        max-width: 370px;
        padding: 20px 32.5px;
        border: #1934C1 1px solid;
        border-radius: 30px;
        height: 254px;
        margin-top: 30px;
    }
}

.benefit__item {}

.item-benefit {}

.item-benefit__icon {
    display: flex;
    justify-content: center;
}

.item-benefit__icon img {
    width: 65px;
    height: 65px;
}

.item-benefit__title {
    font-weight: 500;
    font-size: 20px;
    color: #1934C1;
    line-height: 160%;
    margin-top: 21px;
    text-align: start;
}

.item-benefit__text {
    font-size: 14px;
    color: #B0B0B0;
    line-height: 160%;
    margin: 18px 0 0 0;
}


/* _____AboutTheProject________________ */

.aboutTheProject {
    margin: 245px auto 0 auto;
    max-width: 1427px;
}

.aboutTheProject__container {}

.aboutTheProject__body {}

.bodyProject__content {
    display: flex;
    flex-direction: column;
}

.bodyProject__content__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
}

.bodyProject__content__info {
    margin: 90px auto 0 auto;
    display: flex;
    flex-direction: row;
}

.bodyProject__content__image {
    position: relative;
    width: 50%;
}

.bodyProject__background {
    position: absolute;
    width: 533px;
    height: 364px;
    top: 21.93%;
    left: -5.52%;
    background-color: #F2F4FF;
    border-radius: 20px 0px;
    z-index: -1;
}

.bodyProject__content__dashboard {
    position: absolute;
    width: 388px;
    height: 134px;
    background-color: #B0B0B0;
    top: 123px;
    left: -126px;
    opacity: 50%;
}

.bodyProject__content__text {}

.textProject {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.textProject__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
}

.textProject__title a {
    color: #1934C1;
}

.textProject__text {
    padding: 0;
    margin-top: 18px;
    width: 658px;
}

.textProject__text_p {
    margin: 15px 0 0 0;
    font-size: 20px;
    line-height: 160%;
}


/* _____TOOLS________________ */

.tools {
    position: relative;
}

.tools__container {}

.tools__body {
    margin: 240px 0 0 0;
}

.tools__title {}

.tools__title h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
}

.tools__block {}

.block {
    margin: 90px 0 0 0;
    display: flex;
    flex-direction: row;
}

.block__sidebar {
    max-width: 300px;
    margin: 42px 61px 0 0;
    display: flex;
    flex-direction: column;
}

.block__sidebar a {
    font-size: 18px;
    line-height: 121%;
    margin-top: 25px;
}

.block__sidebar a:hover {
    color: #1934C1;
}

.showAll__text {
    margin: 72px 0 125px 0;
    padding-left: 39px;
}

.showAll__text a {
    font-size: 14px;
    line-height: 160%;
}

.not__tools,
.not__tools a {
    margin: 0;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
}

.block__body {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.block__body__item {}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 302px;
    max-height: 294px;
    border: 1px #F2F4FF solid;
    border-radius: 20px;
}

.item:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.item__icon {
    margin-top: 47px;
    width: 55px;
    height: 57px;
}

.item__title {
    margin-top: 25px;
    padding: 0 30px 0 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    color: #1934C1;
}

.item__text {
    margin-top: 15px;
    padding: 0 30px 0 30px;
    font-size: 14px;
    line-height: 160%;
}

.tools__background {
    position: absolute;
    width: 406px;
    height: 386px;
    background-color: #324EE0;
    filter: blur(500px);
    z-index: -1;
}


/* _____ШАПКА________________ */

.posts {}

.posts__container {}

.posts__body {
    margin: 240px 0 0 0;
}

.posts__header h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
}

.posts__main {}

.posts__main__nav {
    margin: 92px 0 0 0;
}

.posts__list {
    display: flex;
    flex-direction: row;
    gap: 43px;
}

.posts__item {
    font-size: 14px;
    line-height: 160%;
}

.posts__item a:hover {
    color: #1934C1;
}

.posts__main__main {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts__main__item {
    display: flex;
    flex-direction: column;
}

.posts__main__item img {
    width: 480px;
    height: 505px;
}

.post__item__text {
    display: flex;
    flex-direction: column;
    line-height: 121%;
    margin: 30px 0 0 12px;
}

.item__text__date {
    color: #D7D7D7;
}

.item__text__language {
    margin-top: 8.78px;
}

.item__text__language a {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: #606060;
}

.item__text__language a:hover {
    color: #1934C1;
}

.item__text__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 121%;
    margin-top: 30px;
}

.item__text__text:hover {
    color: #1934C1;
}

.posts__lastPosts {
    font-size: 28px;
    font-weight: 500;
    line-height: 121%;
}

.lastPosts__body {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    max-width: 660px;
}

.lastPosts__item {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    margin-top: 15px;
}

.lastPosts__item__last {
    font-size: 14px;
    margin-top: 15px;
}

.lastPosts__item:hover {
    color: #1934C1;
}

.lastPosts__item__last:hover {
    color: #1934C1;
}


/* _____TEAM________________ */

.team {}

.team__container {}

.team__body {
    margin: 240px auto 0 auto;
    max-width: 1201px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team__info {
    display: flex;
    flex-direction: column;
}

.team__info__title {
    margin-top: 140px;
    font-size: 32px;
    font-weight: 500;
    line-height: 121%;
}

.team__info__text {
    margin-top: 33px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    max-width: 570px;
}

.team__info__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-left: 34px;
}

.team__info__button {
    margin-left: 36px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 117%;
}

.team__info__button:first-child {
    color: #FFFFFF;
}

.team__info__button:last-child {
    background-color: #FFFFFF;
    border: 1px solid #1934C1;
}

.team__info__button:last-child:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.team__image {}


/* _____BLOG________________ */

.blog {}

.blog__container {}

.blog__body {
    margin: 240px auto 0 auto;
    max-width: 1311px;
    display: flex;
    flex-direction: row;
}

.blog__body__info {}

.blog__info {
    display: flex;
    flex-direction: column;
}

.blog__info__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 121%;
}

.blog__info__text {
    margin-top: 33px;
    font-size: 14px;
    line-height: 160%;
    max-width: 467px;
}

.blog__body__form {}

.blog__form {
    margin: 40px 0 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.5px solid #B0B0B0;
    border-radius: 20px;
    height: 48px;
    width: 730px;
}

.blog__form__header {
    display: flex;
    flex-direction: row;
    width: 148px;
    height: 18px;
    margin: 17px 0 0 33px;
}

.blog__form__icon {
    width: 20px;
    height: 16.9px;
}

.blog__form__input {
    border: none;
    margin-left: 12px;
    outline: 0 !important;
}

.blog__form__button {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    line-height: 117%;
}


/* _____FORMS________________ */

.form {
    margin: 240px auto 0 auto;
}

.form__container {}

.form__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 121%;
    text-align: center;
}

.form__body {
    margin: 90px 0 0 153px;
    display: flex;
    flex-direction: row;
}

.form__sidebar {
    flex: 1 0 634px;
}

.form__sidebar__title {
    margin-bottom: 17, 47px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.form__sidebar_input {
    width: 100%;
    height: 49px;
    border: 0.5px solid #B0B0B0;
    border-radius: 20px;
    margin-top: 32.53px;
}

.form__input {
    margin: 14.29px 0 0 22px;
    width: 90%;
    border: none;
    outline: 0 !important;
    font-size: 12px;
    line-height: 150%;
    font-family: Inter;
}

.form__sidebar__name {}

.form__sidebar__email {}

.form__sidebar__file {}

.form__sidebar__text {
    height: 193px;
}

.form__sidebar__info {
    margin-top: 10px;
    font-size: 12px;
    line-height: 121%;
    color: #B0B0B0;
}

.form__sidebar__viewed {
    margin-top: 22.57px;
    font-size: 12px;
    line-height: 160%;
    color: #B0B0B0;
    display: flex;
}

.form__sidebar__buttons {
    margin-top: 26.69px;
    margin-left: 209px;
    display: flex;
    flex-direction: row;
}

.form__sidebar__button {
    margin-left: 29px;
}

.form__sidebar__button {
    font-size: 20px;
    font-family: Roboto;
    line-height: 117%;
}

.form__sidebar__button:first-child {
    color: #FFFFFF;
}

.form__sidebar__button:last-child {
    background-color: #FFFFFF;
    border: 1px solid #1934C1;
    color: #1934C1;
}

.form__background {
    position: relative;
    margin-left: -162px;
    z-index: -1;
}


/* _____ПОДВАЛ________________ */

.footer {}

.footer__container {
    margin: 240px auto 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.footer__column__first {}

.first {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.first__body {
    margin: 74px 0 0 30px;
    flex: 1 1 auto;
}

.first__logo {}

.first__text {
    margin-top: 15.2px;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    max-width: 292px;
}

.first__telephone {
    margin-top: 25px;
    font-weight: 500;
    line-height: 121%;
}

.first__email {
    margin-top: 15px;
    font-weight: 300;
    line-height: 121%;
}

.first__email a:hover {
    color: #1934C1;
}

.first__footer {
    font-size: 14px;
    line-height: 121%;
}

.footer__bacground {
    position: absolute;
    width: 520px;
    height: 520px;
    background-color: #324EE0;
    filter: blur(500px);
    left: -367px;
}

.footer__column__center {
    margin-top: 155px;
    max-width: 634px;
    flex: 1 1 auto;
}

.center__title {
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}

.center__input {
    margin-top: 15px;
}

.blog__form__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.5px solid #B0B0B0;
    border-radius: 20px;
    height: 48px;
    width: 100%;
}

.center__text {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}

.center__social {
    margin-top: 15px;
}

.footer__column__end {
    padding: 15px;
    margin-top: 155px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    line-height: 121%;
    gap: 15px;
}

.footer__column__end a:hover {
    color: #1934C1;
}

.center__political {
    display: flex;
    flex-direction: column;
    font-family: Voces;
    font-weight: 400;
    font-size: 12px;
    line-height: 134%;
    gap: 12px;
}

.center__political a:hover {
    color: #1934C1;
}